@media screen and (min-width: 481px) and (max-width: 767px) {
  main section {
    margin: 5px;
  }

  main section .resp {
    width: 100vw;
  }

  main section h1 {
    font-size: 30px;
  }

  main section p.note {
    color: #f00;
  }

  main section ul {
    padding-left: 0;
  }

  main section ul li {
    border-bottom: 1px solid #666;
  }
}

@media screen and (min-width: 767px) {
  .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  main section #itemA {
    width: 20vw;
    padding-top: 0;
  }

  main section #resp {
    width: 80vw;
  }

  main section h1 {
    font-size: 30px;
  }

  main section p.note {
    color: #f00;
  }

  main section ul {
    padding-left: 0;
  }

  main section ul li {
    border-bottom: 1px solid #666;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1367px) {
  main {
    width: 100vw;
    height: 30vh;
    margin: 5px;
    padding: 0;
  }

  main section {
    margin: 5px;
  }

  main section #resp {
    width: 100vw;
  }

  main section h1 {
    font-size: 30px;
  }

  main section p.note {
    color: #f00;
  }

  main section ul {
    padding-left: 0;
  }

  main section ul li {
    border-bottom: 1px solid #666;
  }
}

