.parentb{
    text-align:center;
    .childb{
        display: inline-block;
        width:100%;
        font-size:20px;
        background-color:#5EBABA;
        color:#F5F5F5
    }
#btn-hv:hover{
    opacity: 0.8;
}
}