$base-witdh: 20vw;
$sub-width: 100vw - $base-witdh;
$height: 25%;

$resp_width: 100vw;



@media screen and (min-width:481px) and (max-width:767px){
    
     main{
    
    section{
        margin:5px;
        .resp{
            width:$resp_width;
        }
            
        h1{
            font-size: 30px;
            
        }
        
        
        p.note{
            color: #f00;
        }
        
        ul{
            padding-left:0;
            li{
                border-bottom:1px solid #666;
            }
        }
        
        
    }
}
    
}

@media screen and (min-width:767px){
    
    .flex{
        display:flex;
    }

main{
    
    section{
            
            #itemA{
                width: $base-witdh;
                padding-top: 0;
            }
            
            #resp{
            width:$sub-width;
        }
        
        h1{
            font-size: 30px;
            
        }
        
        
        p.note{
            color: #f00;
        }
        
        ul{
            padding-left:0;
            li{
                border-bottom:1px solid #666;
            }
        }
        
        
    }
}
}

@media screen and (min-width:1024px) and (max-width:1367px){
    
     main{
    width: 100vw;
    height:30vh;
    margin: 5px;
    padding:0;
    
    section{
        margin:5px;
        #resp{
            width:$resp_width;

        }
            
        h1{
            font-size: 30px;
            
        }
        
        
        p.note{
            color: #f00;
        }
        
        ul{
            padding-left:0;
            li{
                border-bottom:1px solid #666;
            }
        }
        
        
    }
}
    
}